<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908063988771-ebs9q0q97njgj8tdjq4rrpie2brba5gb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908063988771-ebs9q0q97njgj8tdjq4rrpie2brba5gb</string>
	<key>API_KEY</key>
	<string>AIzaSyCr74fkl1sLB-Gfem_z-LfAOfEtBk_LTSs</string>
	<key>GCM_SENDER_ID</key>
	<string>908063988771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NotChewy1324.AKidAgain.Quote</string>
	<key>PROJECT_ID</key>
	<string>a-kid-again-49800</string>
	<key>STORAGE_BUCKET</key>
	<string>a-kid-again-49800.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908063988771:ios:7eac63f0377f2d25c56596</string>
	<key>DATABASE_URL</key>
	<string>https://a-kid-again-49800.firebaseio.com</string>
</dict>
</plist>